@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url(/fonts/JetBrainsMonoNerdFont.woff2);
}

@font-face {
    font-family: "Pailou";
    src: url(/fonts/Pailou.woff2);
}

@font-face {
    font-family: "Fredoka";
    src: url(/fonts/Fredoka.woff2);
}