:root {
    --hl-color: var(--text);
    --hl-bg: var(--base);
    --hltools-bg: var(--crust);
    --hltools-color: var(--mauve);
    --hlnumber-bg: var(--base);
    --hlnumber-color: var(--overlay1);
    --hlscrollbar-bg: var(--overlay0);
    --hlexpand-bg: var(--overlay0);
}

#article-container pre>code,
[data-theme='dark'] #article-container pre>code {
    background: var(--base);
}

#article-container code,
[data-theme='dark'] #article-container code {
    border-radius: 4px;
    background: var(--surface0);
    color: var(--text);
}

code.hljs {
    color: var(--text);
    background: var(--base)
}

code .hljs-keyword {
    color: var(--mauve)
}

code .hljs-built_in {
    color: var(--red)
}

code .hljs-type {
    color: var(--yellow)
}

code .hljs-literal {
    color: var(--peach)
}

code .hljs-number {
    color: var(--peach)
}

code .hljs-operator {
    color: var(--teal)
}

code .hljs-punctuation {
    color: var(--subtext1)
}

code .hljs-property {
    color: var(--teal)
}

code .hljs-regexp {
    color: var(--pink)
}

code .hljs-string {
    color: var(--green)
}

code .hljs-char.escape_ {
    color: var(--green)
}

code .hljs-subst {
    color: var(--subtext0)
}

code .hljs-symbol {
    color: var(--flamingo)
}

code .hljs-variable {
    color: var(--mauve)
}

code .hljs-variable.language_ {
    color: var(--mauve)
}

code .hljs-variable.constant_ {
    color: var(--peach)
}

code .hljs-title {
    color: var(--sky)
}

code .hljs-title.class_ {
    color: var(--yellow)
}

code .hljs-title.function_ {
    color: var(--sky)
}

code .hljs-params {
    color: var(--text)
}

code .hljs-comment {
    color: var(--surface2)
}

code .hljs-doctag {
    color: var(--red)
}

code .hljs-meta {
    color: var(--peach)
}

code .hljs-section {
    color: var(--sky)
}

code .hljs-tag {
    color: var(--subtext0)
}

code .hljs-name {
    color: var(--mauve)
}

code .hljs-attr {
    color: var(--sky)
}

code .hljs-attribute {
    color: var(--green)
}

code .hljs-bullet {
    color: var(--teal)
}

code .hljs-code {
    color: var(--green)
}

code .hljs-emphasis {
    color: var(--red);
    font-style: italic
}

code .hljs-strong {
    color: var(--red);
    font-weight: bold
}

code .hljs-formula {
    color: var(--teal)
}

code .hljs-link {
    color: var(--sapphire);
    font-style: italic
}

code .hljs-quote {
    color: var(--green);
    font-style: italic
}

code .hljs-selector-tag {
    color: var(--yellow)
}

code .hljs-selector-id {
    color: var(--sky)
}

code .hljs-selector-class {
    color: var(--teal)
}

code .hljs-selector-attr {
    color: var(--mauve)
}

code .hljs-selector-pseudo {
    color: var(--teal)
}

code .hljs-template-tag {
    color: var(--flamingo)
}

code .hljs-template-variable {
    color: var(--flamingo)
}